name: ci
on:
  pull_request:
    branches:
      - main
  pull_request_target:
    branches:
      - development
  push:
    branches:
      - '*'

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up nodejs
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
          cache: 'npm'

      - name: npm CI
        run: npm ci

      - name: npm Check
        run: npm run check

      - name: npm Test
        run: npm run test -- --coverage

      - name: npm Build
        run: npm run build

      - name: Set VERSION env
        run: echo "VERSION=$(cat package.json | jq -r .version)" >> $GITHUB_ENV
